[color]
	ui = always
[core]
	editor = vim
[diff]
	tool = nvimdiff
	guitool = nvimdiff
[format]
	pretty = oneline
[init]
	defaultBranch = main
[log]
	decorate = short
	abbrevCommit = true
[merge]
	tool = nvimdiff
    conflictstyle = diff3
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
[pager]
    log=false
[status]
    short = true

# include private gitconfig such as user config
[include]
    path = ~/.config/git/.gitconfig
